<div class="wrapper">
    <div class="container">
        <div class="profile">
            <div class="movie-log column">
                <div class="section-title">
                    <h2>Movies you've seen</h2>

                </div>
                <div class="card-section">
                    {{#if user.movieLog}}
                    {{#each  user.movieLog}}
                    <div class="movielog-card card">
                        <div class="card-img-box">
                            <img src="https://image.tmdb.org/t/p/w1280{{this.image}}" class="card-img"
                                alt="{{this.title}}">

                        </div>
                        <div class="card-text">
                            <h5 class="card-title">{{this.title}}</h5>

                            <a href='movies/{{this.tmdb_id}}' class="btn-see-more underline">See more</a>
                            <button value={{this._id}} class="remove-log-button underline">Remove</button>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}

                    <div class="empty-log">
                        <p>There is nothing here</p>
                    </div>
                    {{/if}}
                </div>
            </div>

            <div class="watch-later column">
                <div class="section-title">

                    <h2>For later</h2>
                </div>
                <div class="card-section">
                    {{#if user.wishList}}
                    {{#each  user.wishList}}
                    <div class="wishlist-card card">
                        <div class="card-img-box">

                            <img src="https://image.tmdb.org/t/p/w1280{{this.image}}" class="card-img"
                                alt="{{this.title}}">
                        </div>
                        <div class="card-text">
                            <h5 class="card-title">{{this.title}}</h5>
                            {{!-- <p class="card-text">here goes list of oyou hashtags</p> --}}
                            <a href='movies/{{this.tmdb_id}}' class="btn-see-more underline">See more</a>
                            <button value={{this._id}} class="remove-wishlist-button underline">Remove</button>
                        </div>
                    </div>
                    {{/each}}
                    {{else}}
                    <div class="empty-log">
                        <p>There is nothing here</p>
                    </div>
                    {{/if}}
                </div>

            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="javascript/profileManage.js"></script>