<div class="wrapper">
    <div class="container">
        <div class="movie-details">
            {{#if user}}
            <div class="movie-detail-box">
                <div class="movie-detail-image-box">

                    <img class="movie-detail-image" src="https://image.tmdb.org/t/p/w1280{{movieDetail.poster_path}}"
                        alt="movie-poster">
                </div>
                <div class="log-buttons-movie-detail">
                    <button class="btn-add-log-MD" title="Add to your movies"><img src="/images/checkbox.png"
                            alt="checkbox-image"></button>
                    <button class="btn-wishlist-MD" title="Add to watch later"><img src="/images/add-to-wishlist.png"
                            alt="add-image"></button>
                </div>
            </div>
            <div class="movie-detail-text">
                <div class="movie-text">
                    <h2 class="title-MD">{{movieDetail.title}}</h2>
                    <p class="release-date">{{movieDetail.release_date}}</p>
                    <p class="overview">{{movieDetail.overview}}</p>
                </div>

                <div id="existing-hashtags">
                    <h4>Existing Hashtags</h4>
                    <div class="hashtags">
                        {{#each hashtags}}
                        <p class="hashtag existing-hashtag hashtag-MD">{{this}}</p>
                        {{/each}}
                    </div>
                </div>
                <div class="new-hashtags">

                    <h4>Add new hashtags: </h4>
                    {{!-- <form id="hashtag-form"> --}}
                    <input type="text" id="hashtag-input" autocomplete="off">
                    {{!-- </form> --}}

                    <div id="suggestion-hashtags" class="hashtags">
                    </div>
                </div>

                <div class="trailer-container">
                    <iframe class="trailer" src="https://www.youtube.com/embed/{{trailer.key}}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>


            </div>
            {{else}}
            <h2>Please <a href="/login">login</a> to the page to use this feature!</h2>

            {{/if }}

        </div>

    </div>

</div>






<script>

    const allMovieDetails = {{{ movieDetailJSON }}};

    let currentMovie = {
        title: allMovieDetails.original_title,
        imdbId: allMovieDetails.imdb_id,
        releaseDate: allMovieDetails.release_date,
        image: allMovieDetails.poster_path,
        trailer: allMovieDetails.video,
        tmdb_id: allMovieDetails.id

    }


    console.log("current movie", currentMovie);

    function addMovieLog() {
        console.log("i was clicked")
        axios
            .post("/movielog", {
                currentMovie
            })
            .then(response => {
                console.log("added to log")
                document.querySelector(".btn-add-log-MD").innerText = "Added to your log";
            })
            .catch(err => {
                console.log(err);
            });
    }

    document.querySelector(".btn-add-log-MD").onclick = addMovieLog;

    function addWishlist() {
        console.log("i was clicked")
        axios
            .post("/wishlist", {
                currentMovie
            })
            .then(response => {
                console.log("added to wishlist")
                document.querySelector(".btn-wishlist-MD").innerText = "Added for later";
            })
            .catch(err => {
                console.log(err);
            });
    }

    document.querySelector(".btn-wishlist-MD").onclick = addWishlist;

</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="javascript/randomMovie.js"></script>
<script src="/javascript/hashtagHandler.js"></script>