<div class="wrapper">
    <div class="container">


        <div class="search-results">
            {{#if movieResults}}
            {{#each movieResults}}
            <div class="movie-card">
                <a href="/movies/{{this.id}}">
                    <img class="movie-image" src="https://image.tmdb.org/t/p/w1280{{this.poster_path}}"
                        alt="movie-poster">
                </a>
                <a href="/movies/{{this.id}}">
                    <h3 class="movie-titel">{{this.title}}</h3>
                </a>
            </div>
            {{/each}}
            {{else}}

            <h3>Sorry, nothing found ¯\_(ツ)_/¯</h3>

            {{/if}}



     

        </div>
    </div>
</div>