<div class="search-results">
    {{#if movieResults}}
    {{#each movieResults}}
    <div class="movie-card">
        <img class="movie-image" src="https://image.tmdb.org/t/p/w1280{{this.poster_path}}" alt="movie-poster">
        <a href="/movies/{{this.id}}">
            <h3 class="movie-titel">{{this.title}}</h3>
        </a>
    </div>
    {{/each}}

    {{/if}}



    {{#if hashtagResults}}

    {{#each hashtagResults}}
    <div class="hashtag-results">
        <a class="hashtag-link" href="/hashtag/{{this._id}}">
            <p class="hashtag">{{this.tag}}</p>
        </a>
    </div>
    {{/each}}

    {{else}}
    <h3>Sorry, nothing found ¯\_(ツ)_/¯</h3>
    {{/if}}
</div>