<div class="search-results">
    {{#if movieResults}}
    {{#each movieResults}}
    <div class="movie-card">
        <img class="movie-image" src="https://image.tmdb.org/t/p/w1280{{this.poster_path}}" alt="movie-poster">
        <h3><a href="/movies/{{this.id}}">{{this.title}}</a></h3>
    </div>
    {{/each}}
    {{/if}}


    {{#if hashtagResults}}

    {{#each hashtagResults}}
    <div>
        <a href="/hashtag/{{this._id}}">
            <p>{{this.tag}}</p>
        </a>
    </div>
    {{/each}}

    {{else}}
    <h3>Sorry, nothing found ¯\_(ツ)_/¯</h3>
    {{/if}}
</div>